.dashboard {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  &-container {
    width: calc(100% - 300px);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: $white;
    padding: 1rem;
  }
  &-title{
    width: 100%;
    padding-top: 1rem;
    h1{
        font-size: 2rem;
        font-weight: 400;
    }
  }
  &-select{
    padding: 2rem 0;
  }
  &-company{
    width: 100%;
    &__title{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3{
            width: calc(100%/3);
            color: $grey;
            text-align: left;
        }
    }
  }
}
