.sidebar {
  position: fixed;
  width: 300px;
  height: 100vh;
  padding: 20px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  background: $superLightGrey;
  &-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__close{
      cursor: pointer;
      display: none;
      @media screen and (max-width: 970px) {
        display: block;
            }
    }
  }
  &-links{
    flex-grow: 1;
    a{
      display: flex;
      padding: 1rem;
      border-radius: 5px;
      transition: .3s ease;
      li{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        span{
          display: inline-block;
          text-transform: uppercase;
          font-weight: 400;
        }
      }
      &.active{
        background: $lightBlue;
        span{
          color: $blue;
        }
        svg{
          path{
            fill: $blue;
          }
        }
      }
      &:hover{
        background: rgba($color: $lightBlue, $alpha: .5);
      }
    }
  }
  &-profile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    &__avatar{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid $blue;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__infos{
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      gap: .5rem;
      h2{
        font-weight: 500;
      }
    }
  }
}

.sidebarM{
  display: none;
}

@media screen and (max-width: 970px) {
  .sidebar{
    position: fixed;
    left: auto;
    top: 0;
    right: 0;
    transform: translateX(300px);
    transition: .3s ease;
    z-index: 3;
    &.show{
      transform: translateX(0);
    }
  }

  .sidebarM{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $superLightGrey;
    padding: 1rem;
    &-menu{
      cursor: pointer;
    }
  }
}